@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    width: 100%;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    background-color: white;
}

header {
    background-color: #05FAD9;

}

#logo {
    width: 250px;
    margin-top: 3px;
    margin-left: 3px
}

.navbar {
    display: block;
    float: right;
    position: relative;
    right: 0.1%;
    bottom: 0.3em;
}

.navbar .nav-item:hover .nav-link:hover {
    color: #FB5004;
}





.rowUn {
    display: flex;
    justify-content: space-between;
    margin-top: 4em;
}

#photoPrincipal {
    margin-left: 2em;
}

.commandezMaintenant {

    margin-left: 6em;
}

.rowDeux {
    display: flex;
    justify-content: space-between;
    margin-top: 4em;
}

#button {
    margin-top: 3px;

}

#button2 {
    margin-top: 3px;

}

.ligneTrois {
    display: flex;
    justify-content: space-between;
    margin-top: 4em;

}

iframe {
    margin-left: 2.8em;

}

.buttonGoogle {
    margin-left: 2em;
    margin-top: 1em;
}

.colTroisTelecharger {
    position: relative;
    right: 3em;
}

.inscrivezVous {
    margin-left: 3em;
}

.enSavoirPlus {
    margin-left: 8em;
}

.buttonCharte {
    width: 60%;
    margin-left: 4em;
    margin-top: 2em;
}

.telechargerUn {
    margin-left: 5.5em;
}

.telechargerDeux {
    margin-left: 5.5em;
}

.piedDePage {
    text-align: center;
    margin-top: 5em;
    background-color: #05FAD9;
}

.navbarDropdownMenuLink {
    background-color: #FB5004;
}


#lieninscrire {
    margin-bottom: 3em;
}

ul {
    list-style: none;
}

.titreFooter {
    text-transform: uppercase;
    font-weight: bold;
}

.lesLiens {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #FB5004;
}


.logoReseaux {
    font-size: 1.5em;
    align-items: center;
    margin-top: 1.5em;
}

.fa-facebook-square {
    color: black;
}

.fa-facebook-square:hover {
    color: #1877F2;
}

.fa-instagram {
    color: black;
}

.fa-instagram:hover {
    color: #C13584;
}

.fa-twitter {
    color: black;
}

.fa-twitter:hover {
    color: #1D9BF0;
}

.fa-snapchat-ghost {
    color: black;
}

.fa-snapchat-ghost:hover {
    color: #FFFD01;
}

.fa-map-pin {
    margin-right: 0.3em;
}

.fa-map-pin:hover {
    color: white;
}

.fa-phone-alt {
    margin-right: 0.3em;
}

.fa-phone-alt:hover {
    color: white;
}

.fa-at {
    margin-right: 0.3em;
}

.fa-at:hover {
    color: white;
}

.titrePrincipal {
    text-transform: uppercase;
    text-align: center;
    margin-top: 1em;
}

a {
    text-decoration: none;
    color: black;
}

.logoTelechargement {
    margin-right: 1em;
    margin-left: 0.8;
}

.stationMeteo {
    text-align: center;
}

.logoJavaS {
    margin-right: 0.3em;
}

.logoJavaS:hover {
    color: #0DCAF0;
}

.myButton {
    background-color: #FB5004;
    border-color: #FB5004;
    color: white;
}

.myButton:hover {
    background-color: #05FAD9;
    color: black;
}

p {
    text-align: center;
}

.logoTelechargementText {
    margin-right: 2em;
}